<% @body_id = 'greeting-details' %>

<%# cache cache_key_for_greeting do %>
  <div data-hook="greeting_show" class="row">
    <div class="col-md-4 col-sm-5" data-hook="greeting_left_part">
      <div data-hook="greeting_left_part_wrap">
        <div id="product-images" data-hook="greeting_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
				<%= image_tag(@greeting.greetingcard_picture) %>
            </div>
          </div>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div> 
      </div>
    </div>

    <div class="col-md-8 col-sm-7" data-hook="greeting_right_part">
      <div data-hook="greeting_right_part_wrap">
        <div id="product-description" data-hook="greeting_description">
          <h1 class="product-title" itemprop="name"><%= @greeting.name %></h1>

          <div id="cart-form" data-hook="cart_form">
			<%#= render :partial => 'spree/shared/greetings' %>
			<%= render :partial => 'cart_form' %>
          </div>
        </div>

      </div>
    </div>
  </div>
<%# end %>
